<launch>

  <node pkg="topic_tools" type="throttle" name="throttle_joint_states" args="messages joint_states 0.25" />

  <node pkg="sbpl_arm_planner_node" type="sbpl_arm_planner_node" name="sbpl_right_arm" output="screen" respawn="false" >

    <rosparam command="load" file="$(find sbpl_arm_planner)/config/pr2_right_arm.yaml" />

    <param name="planner/arm_description_file" value="$(find sbpl_arm_planner)/config/pr2_right_arm.cfg" />

    <param name="planner/motion_primitive_file" value="$(find sbpl_arm_planner)/config/pr2.mprim" />

    <rosparam command="load" file="$(find sbpl_collision_checking)/config/pr2_right_arm_model.yaml" />

    <remap from="joint_states" to="joint_states_throttle" />

  </node>

</launch>
