<launch>
	<node pkg="simple_arm_control" type="move_right_arm" name="move_arm_to_position" output="screen">
     
     <param name="planner_service_name" value="sbpl_planning/plan_path"/>
	   <param name="goal_x" value="0.293"    type="double"/>
	   <param name="goal_y" value="-0.799"  type="double"/>
	   <param name="goal_z" value="0.837"     type="double"/>

	   <param name="goal_roll" value="-2.5"  type="double"/>
	   <param name="goal_yaw" value="1.23"    type="double"/>
	   <param name="goal_pitch" value="1.393"  type="double"/>
     <param name="planning_duration" value="10.0" type="double" />

	</node>
</launch>
